# Dependencies
node_modules/
.expo/
dist/

# Env
.env
.env.local
.env.production
*.log

# Backend
backend/dist/
backend/prisma/migrations/dev/

# Expo / RN
.expo/
.expo-shared/
android/
ios/
*.apk
*.aab
*.ipa

# Metro / TS
.metro-cache/
*.tsbuildinfo

# Editor
.vscode/
.idea/
.DS_Store

# Misc
coverage/
*.tgz
.vercel
